[Unit]
Description=My Script Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/Projects/audio_detect/service_start.sh
Restart=on-failure
User=pi
EnvironmentFile=/home/pi/.bashrc

[Install]
WantedBy=multi-user.target

