[Unit]
Description=My Script Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/Projects/audio_detect/audio_detect_alsa.py > /home/pi/Projects/audio_detect/audio_detect.log 2>&1
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target

